/*********** IN LINE STYLES ************/

body{
    font-family: 'Poppins', Helvetica, sans-serif !important;
    font-size: 1.058vw;
}

h1{
    font-size: 4.762vw;
}

h2{
    font-size: 3.175vw;
}

h3{
    font-size: 1.587vw;
}


/*********** NAV BAR ************/
#logo{
    font-weight: 600;
    font-size: 1.587vw;
    float: left;
}

#navbar{
    padding-top: 1%;
    padding-bottom: 0.5%;
    padding-right: 5%;
    padding-left: 2%;
    position: sticky;
}

#collapsibleNavbar{
    font-weight: 300;
    font-size: 1.320vw;
}

#design{
    padding-right: 10%;
}

.navbar-nav > li{
  padding-left:2%;
  padding-right:2%;
}

/*********** FOOTER ************/
#footer{
    background-color: white;
    padding: 2%;
    margin-top: 3%;
    display: inline-block;
    max-height: 5%;
    width: 100%;
}

.centerText{
    margin-left: 33%;
}

.footerLink{
    color: black;
    text-decoration: underline;

}

.footerLink:hover{
    color: #CB63A3;
}


/*********** HOME PAGE STYLES ************/
.content{
    position: relative;
    min-height: 100%;
}

.contentText{
    padding-left: 5%;
}

#landingpage{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#landingpageText{
    padding-top: 33vh;
}

.welcome{
    text-decoration: none;
}

#welcomeText{
    color: black;
    text-decoration: none;
}

#welcomeText:hover{
    text-decoration: underline;
    text-decoration-color: black;
}

#downArrow{
    width: 2%;
    height: 2%;
    margin-left: 45vw;
    margin-top: 15vh;
    transition-duration: 0.25s;
}

#downArrow:hover {
  transform: scale(1.25);
}


/*My Design Work*/
.pinkHeading{
    color: #CB63A3;
}


#projectRow{
    margin: 2% 0 5% 0;
}

#projects{
    padding-top: 7%;
}

.projectImage{
    width: 29vw;
    height: auto;
    transition-duration: 0.5s;
    margin-bottom: 4%;
}

.projectImage:hover{
  transform: scale(1.05);
}

.projectLink{
    color: #555555;
    text-decoration: none;

}

.projectLink:hover{
    color: black;
}

.col-sm-4{
    text-align:  center;
}

/*My Experience*/
#amazonLogo{
    margin-left: 20%;
    margin-top: 4vh;
    width: 12vw;
}

#ibmLogo{
    margin-left: 55%;
    margin-top: 4%;
    width: 11vw;
}

#hciiLogo{
    margin-top: -7vh;
    margin-left: 10%;
    width: 10vw;
}

.col1{
    width: 50%;
    float: left;
}

.col2{
    width: 50%;
    float: right;
}


/* Timeline */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

.outer {
  border-left: 2px solid #C4C4C4;
}

.card {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 10px;
  border-color: white;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.title {
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 1vw;
  height: 1vw;
  border-radius: 999px;
  left: -39px;
  border: 3px;
}

#amazon::before {
    border-color: #FDEC9C;
    background: #FDEC9C;
}

#ibm::before {
    border-color: #FE9880;
    background: #FE9880;
}

#coordinator::before {
    border-color: #F694C1;
    background: #F694C1;
}

#ra::before {
    border-color: #CD78A0;
    background: #CD78A0;
}

.rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*********** IBM PROJECT PAGE ************/
.ibmBold{
    font-weight: 600;
    color: #001D6C;
}

/*.rightAlign{
    float: right;
    padding-right: 10%;
    text-align: right;
}*/

#ibmHeader{
    background-image: url('images/IBM-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#ibmText{
    color: white;
    padding-top: 30vh;
}

#ibmDashboard{
    width: 100%;
    padding-bottom: 5%;
}

#ibmButton{
    margin-top:  1%;
    padding: 1.5% 2.5% 1.5% 2.5%;
    color: white;
    background-color: #001D6C;
    border-radius: 1vw;
    border: none;
}

#ibmButton:hover{
    text-decoration: underline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*********** AMAZON PROJECT PAGE ************/
#amazonHeader{
    background-image: url('images/Amazon-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#amazonText{
    color: white;
    padding-top: 30vh;
}

.amazonBold{
    font-weight: 600;
    color: #DC6A00;
}

#amazonCJM{
    width: 75%;
    height: auto;
}

#amazonDetails{
    width: 100%;
    height: auto;
}

#figmaPrototype {
    margin-bottom: 1%;
    margin-left: 40%;
    padding: 1.5% 5% 1.5% 5%;
    color: white;
    background-color: #DC6A00;
    border-radius: 1vw;
    border: none;
}


#figmaPrototype:hover{
    text-decoration: underline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*********** ADIDASH PROJECT PAGE ************/
#adidasHeader{
    background-image: url('images/Adidas-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

#adidasText{
    color: white;
    padding-top: 30vh;
}

.adidasBold{
    font-weight: 600;
    color: #AA6373;
}

#personas{
    width: 100%;
    height: auto;
}

#office{
    width: 75%;
    height: auto;
}

#adidasDetails{
    width: 100%;
    height: auto;
}

#adidasVideo{
    width: 100%;
    height: auto;
}
